<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>MeuHexa</title>

  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

<header class="header">
    
  <nav class="menu">
    <a href="#">Início</a>
    <a href="#">História da Copa</a>
    <a href="#">Álbum</a>
    <a href="#">Minigame</a>
    <a href="#">Sobre</a>
  </nav>

</header>

{% block homepage %}

{% endblock %}

{% block historiacopa %}

{% endblock %}

{% block album %}

{% endblock %}

</body>
</html>