{% extends "base.html" %}

{% block homepage %}

<section class="hero">
  <div class="overlay"></div>

  <div class="content">
    <span class="small-text">OS</span>

    <h1 class="gold">CAMPEÕES</h1>

    <h2>
      NASCEM ANTES <br>
      DO APITO
    </h2>
  </div>
</section>

{% endblock %}


{% block historiadacopa %}
{% endblock %}


{% block album %}

<section id="painel">
  <div class="painel-overlay"></div>

  <div class="acoes">

    <a href="{{ url_for('abrir_pacote') }}" class="btn abrir-pacote">
      Abrir pacote ({{ pacotes_disponiveis }})
    </a>

    <button class="btn btn-bonus">
      Resgatar bônus diário
    </button>

    <a href="{{ url_for('reiniciar') }}" class="btn btn-reiniciar">
      Reiniciar
    </a>

  </div>
</section>

<section class="card">

  <h2 class="titulo">Meu Álbum</h2>

  <div class="album-grid">

    {% for figurinha in figurinhas %}

      <div class="slot">
        
        {% if figurinha.numero in coladas %}

          <img id="fig-{{ figurinha.numero }}" class="fig-img"
               src="{{ url_for('static', filename='img/img-figurinhas/' + figurinha.imagem) }}">

          <p id="fig-nome"class="fig-nome">{{ figurinha.nome }}</p>

        {% elif figurinha.numero in sorteadas %}

          <div class="btn-mini">
            <a href="{{ url_for('colar', jogador=figurinha.numero) }}">+</a>
          </div>

          <p class="fig-nome">{{ figurinha.nome }}</p>

        {% else %}

          <p class="fig-nome">{{ figurinha.selecao }}</p>

        {% endif %}

      </div>

    {% endfor %}

  </div>

</section>

{% endblock %}